.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #dce9ec;
}

.search-block{
  
}

.title{
  text-align: center;
  padding: 5vh;
  background-color: #481E73;
  color:white
}

.search-row{
  padding: 5vh;
  background-color: #EAEAEA;
  border-radius: 5px
}

.btn-primary{
  background-color: #FF7887;
  border-color: #FF7887;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
